@charset "ISO-8859-1";
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#409d82
	
}
li
{
	float:left;
}
li a, .dropbtn
{
  	display: inline-block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  
}

li a:hover, .register:hover.dropbtn
{
	background-color:#808080
}
li .register
{
	 display: inline-block;
}
.register-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.register-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.register-content a:hover
 {
 background-color: #f1f1f1;
 }
.register:hover .register-content {
  display: block;
}
.body1{
	background-image: url(image/About-Marquis-Resort.jpg);
	
}  
body{
	background-image: url(About-Marquis-Resort.jpg);
	background-size: cover;
  	 background-repeat: no-repeat;
}
 